<header class="header">

    <div class="header-container">

        <div class="header-logo">
            <a href="/index.html">
                <img src="/Assets/Logos/VikaasGarh Primary Logo White Background.jpg.jpeg" alt="VikaasGarh Logo">
            </a>
        </div>

        <nav class="header-navigation">
            <a href="/index.html">Home</a>
            <a href="/Pages/about.html">About</a>
            <a href="/Pages/academy.html">Academy</a>
            <a href="/Pages/incubator.html">Incubator</a>
            <a href="/Pages/accelerator.html">Accelerator</a>
            <a href="/Pages/contact.html">Contact</a>
        </nav>

    </div>

</header>